<%= form_with(model: bank_account) do |form| %>
  <% if bank_account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bank_account.errors.count, "error") %> prohibited this bank_account from being saved:</h2>

      <ul>
        <% bank_account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :account_number, style: "display: block" %>
    <%= form.text_field :account_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :account_type, style: "display: block" %>
    <%= form.text_field :account_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bank_name, style: "display: block" %>
    <%= form.text_field :bank_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Create', class: "btn btn-primary" %>
  </div>
<% end %>
